In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('car_data.csv')

In [3]:
data

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,800,2003,0.35,2.28,127000,Petrol,Individual,Manual,0
1,Activa 3g,2016,0.45,0.54,500,Petrol,Individual,Automatic,0
2,Activa 3g,2008,0.17,0.52,500000,Petrol,Individual,Automatic,0
3,Activa 4g,2017,0.40,0.51,1300,Petrol,Individual,Automatic,0
4,alto 800,2017,2.85,3.60,2135,Petrol,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,Yamaha FZ 16,2015,0.75,0.82,18000,Petrol,Individual,Manual,0
297,Yamaha FZ S,2012,0.40,0.83,5500,Petrol,Individual,Manual,0
298,Yamaha FZ S V 2.0,2017,0.78,0.84,5000,Petrol,Individual,Manual,0
299,Yamaha FZ S V 2.0,2015,0.55,0.84,58000,Petrol,Individual,Manual,0
300,Yamaha FZ S V 2.0,2015,0.48,0.84,23000,Petrol,Individual,Manual,0

In [4]:
X = data.drop(columns=['Selling_Price'])
y = data['Selling_Price']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)
X_train

,Car_Name,Year,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
102,corolla altis,2008,22.78,89000,Petrol,Dealer,Automatic,0
80,city,2014,14.00,63000,Diesel,Dealer,Manual,0
245,Royal Enfield Thunder 350,2011,1.50,6900,Petrol,Individual,Manual,0
163,Hero Honda Passion Pro,2012,0.51,60000,Petrol,Individual,Manual,0
131,etios g,2015,6.80,36000,Petrol,Dealer,Manual,0
...,...,...,...,...,...,...,...,...
203,i20,2016,7.60,17000,Petrol,Dealer,Manual,0
255,swift,2014,7.49,39000,Diesel,Dealer,Manual,0
72,city,2011,10.00,69341,Petrol,Dealer,Manual,0
235,Royal Enfield Classic 350,2015,1.47,17000,Petrol,Individual,Manual,0
37,Bajaj Pulsar 220 F,2016,0.94,24000,Petrol,Individual,Manual,0

In [5]:
import xgboost
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

In [7]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [8]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error
categorical_columns = ['Car_Name','Fuel_Type','Selling_type','Transmission']
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_columns),
    ])

# Assuming 'X_train', 'X_test', 'y_train', 'y_test' are your training and test sets
pipe = Pipeline(steps=[('preprocessor', preprocessor),
                       ('regressor', LinearRegression())])

In [10]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.6885590755272053
1.4232180172513837